h1{

  font-family: "roboto condensed", sans-serif;
}
h3{
  font-style: italic;
  font-size: "normal"
  font-family: "comic sans ms",sans-serif;
}
p{

  font-family:  "roboto condensed", sans-serif;
}

body{
    text-align: center;
}
img{
  font-style: italic;
  font-size: "normal"
}
